/app/config/parameters.yml
/build/
/phpunit.xml
/app/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
!/document
/document/*
!/document/member
/document/member/*
!/document/member/photo
/document/member/photo/*
!/document/member/photo/female.png
!/document/member/photo/male.png
*~
.web-server-pid
/web/assets/
