{% for type,messages in app.session.flashbag.all %}
    <div class="flash {{ type }}">
        {% for message in messages %}
            {{ message }}<br/>
        {% endfor %}
    </div>
{% endfor %}
