{% spaceless %}
    <a href="{{ path(route,{orderby:orderby}) }}" class="text-dark">
        {%- if sets|keys|first==orderby -%}
            {%- if sets[orderby] -%}
                <span class="fi-arrow-down"></span>
            {%- else -%}
                <span class="fi-arrow-up"></span>
            {%- endif -%}
        {%- endif -%}
        {{- title -}}
    </a>
{% endspaceless %}
