/* List of transactions */

.app_accounting_index tr.alert {
    background-color: rgb(255, 245, 245);
}

.app_accounting_index #transaction_search_operationNumber {
    width: 10em;
}

.app_accounting_index #transaction_search_bankName,
.app_accounting_index #transaction_search_thirdName {
    width: 13em;
}

/* Add a transaction */

.app_accounting_add #transaction_amount {
    width: 10em;
}

.app_accounting_add #transaction_date,
.app_accounting_add #transaction_dateValue {
    width: 10em;
}

.app_accounting_add table.details > tbody > tr > td.amount {
    width: 10em;
    white-space: nowrap;
}

.app_accounting_add table.details > tbody > tr > td.amount > input[type=text] {
    width: 90%;
    text-align: right;
}

.app_accounting_add table.details > tbody > tr > td.action {
    width: 1%;
}

.app_accounting_add table.details > tbody > tr > td.category {
    width: 15em;
}

.app_accounting_add table.details > tbody > tr > td.category > select {
    width: 100%;
}

.app_accounting_add table.details > tbody > tr > td.information > input[type=text] {
    width: 100%;
}

.app_accounting_add table.details + div.action {
    margin-top: 0.5em;
}

.app_accounting_add table.copies > tbody > tr > td.action {
    width: 1%;
}

.app_accounting_add div.copies-action {
    margin-bottom: 3em;
    margin-top: 1em;
}

.app_accounting_add div.copies-action > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.app_accounting_add div.copies-action > div > input[type=file] {
    flex: 1;
}

.app_accounting_add div.copies-action > div > label {
    padding-right: 1em;
}

/* Edit a transaction */

.app_accounting_edit #transaction_amount {
    width: 10em;
}

.app_accounting_edit #transaction_date,
.app_accounting_edit #transaction_dateValue {
    width: 10em;
}

.app_accounting_edit table.copies > tbody > tr > td.action {
    width: 1%;
}

.app_accounting_edit div.copies-action {
    margin-bottom: 3em;
    margin-top: 1em;
}

.app_accounting_edit div.copies-action > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.app_accounting_edit div.copies-action > div > input[type=file] {
    flex: 1;
}

.app_accounting_edit div.copies-action > div > label {
    padding-right: 1em;
}

.app_accounting_edit table.details > tbody > tr > td.amount {
    width: 10em;
    white-space: nowrap;
}

.app_accounting_edit table.details > tbody > tr > td.amount > input[type=text] {
    width: 90%;
    text-align: right;
}

.app_accounting_edit table.details > tbody > tr > td.action {
    width: 1%;
}

.app_accounting_edit table.details > tbody > tr > td.category {
    width: 15em;
}

.app_accounting_edit table.details > tbody > tr > td.category > select {
    width: 100%;
}

.app_accounting_edit table.details > tbody > tr > td.information > input[type=text] {
    width: 100%;
}

.app_accounting_edit table.details + div.action {
    margin-top: 0.5em;
}

/* Forecast budget */

.app_accounting_forecast_budget_index #forecast_budget_item_collection_items > tr > td:nth-of-type(1) {
    width: 99%;
}

.app_accounting_forecast_budget_index #forecast_budget_item_collection_items > tr > td:nth-of-type(1) > input {
    width: 100%;
}

.app_accounting_forecast_budget_index #forecast_budget_item_collection_items > tr > td:nth-of-type(2) {
    white-space: nowrap;
}

.app_accounting_forecast_budget_index #forecast_budget_item_collection_items > tr > td:nth-of-type(2) > input {
    width: 10em;
    text-align: right;
}
