/* Calendar */

.app_lesson_index .calendar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.app_lesson_index .calendar > div {
    margin-top: 1.5em;
}

.app_lesson_index .calendar > div > div {
    padding: 0.3em;
    text-align: center;
}

.app_lesson_index .calendar > div > table {
    border: 1px black solid;
    border-collapse: collapse;
    border-spacing: 0;
}

.app_lesson_index .calendar > div > table > tbody > tr > td {
    padding: 0;
    text-align: center;
    background-color: rgb(250, 250, 250);
    border: 1px black solid;
}

.app_lesson_index .calendar > div > table > tbody > tr > td.day {
    background-color: white;
}

.app_lesson_index .calendar > div > table > tbody > tr > td.day.active {
    background-color: rgb(230, 255, 230);
}

.app_lesson_index .calendar > div > table > tbody > tr > td.day.now {
    font-weight: bold;
    background-color: yellow;
}

.app_lesson_index .calendar > div > table > tbody > tr > td > a {
    display: block;
    padding: 0.5em;
    color: inherit;
    text-decoration: none;
}

.app_lesson_index .calendar > div > table > tbody > tr > td > a:hover {
    background-color: aliceblue;
    cursor: pointer;
}

.app_lesson_index .calendar > div > table > thead > tr > th {
    width: 2.5em;
    padding: 0.5em;
    font-weight: bold;
    text-align: center;
    background-color: rgb(230, 230, 230);
    border: 1px black solid;
}

/* Planning */

.app_lesson_planning #planning_collection_elements {
    margin-bottom: 1em;
    margin-top: 1.5em;
}

.app_lesson_planning #planning_collection_elements > div > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.5em;
}

.app_lesson_planning #planning_collection_elements > div > div > div > div {
    display: inline-block;
}

.app_lesson_planning #planning_collection_elements > div > div > div label {
    display: block;
    margin-bottom: 0.3em;
}

.app_lesson_planning #planning_collection_elements > div > div > div input[id$="_duration"] {
    width: 6em;
    text-align: right;
}

.app_lesson_planning #planning_collection_elements > div > div > div select[id$="_start_hour"] {
    margin-right: 0.3em;
}

.app_lesson_planning #planning_collection_elements > div > div > div select[id$="_start_minute"] {
    margin-left: 0.3em;
}

.app_lesson_planning #planning_collection_elements > div > div > div:nth-of-type(n+2) {
    margin-left: 3em;
}

.app_lesson_planning #planning_collection_ignore {
    margin-bottom: 1em;
    margin-top: 1.5em;
}

.app_lesson_planning #planning_collection_ignore > div > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.5em;
}

.app_lesson_planning #planning_collection_ignore > div > div > div > div {
    display: inline-block;
}

.app_lesson_planning #planning_collection_ignore > div > div > div label {
    margin-right: 0.5em;
}

.app_lesson_planning #planning_collection_ignore > div > div > div:nth-of-type(n+2) {
    margin-left: 3em;
}

.app_lesson_planning .actions {
    margin-top: 2em;
}

.app_lesson_planning .actions > span {
    margin: 0 1em;
}

/* Day */

.app_lesson_day .navigation {
    margin-top: 2em;
    text-align: center;
}

.app_lesson_day .navigation > span {
    display: inline-block;
    margin: 0;
    padding: 0.6em 0.7em 0.7em 0.7em;
    color: silver;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    vertical-align: baseline;
    white-space: nowrap;
    border: 0;
    border-radius: 0.1em;
    cursor: not-allowed;
}

.app_lesson_day form[name="lesson_day_collection"] > div.actions {
    margin-top: 2em;
    text-align: center;
}

.app_lesson_day form[name="lesson_day_collection"] > div.actions > span {
    margin: 0 2em;
}

.app_lesson_day #lesson_day_collection_lessons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.app_lesson_day #lesson_day_collection_lessons > div.lesson {
    width: 47%;
    margin-top: 2em;
}

.app_lesson_day #lesson_day_collection_lessons > div.lesson > div.action {
    margin-top: 1em;
    font-size: 0.8em;
    text-align: right;
}

.app_lesson_day #lesson_day_collection_lessons > div.lesson > div.comment {
    margin-top: 1em;
}

.app_lesson_day #lesson_day_collection_lessons > div.lesson > div.comment > textarea {
    width: 100%;
}

.app_lesson_day #lesson_day_collection_lessons > div.lesson > div.members {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1em;
}

.app_lesson_day #lesson_day_collection_lessons > div.lesson > div.members > div {
    width: 49%;
    margin-bottom: 0.5em;
}

.app_lesson_day #lesson_day_collection_lessons > div.lesson > div.members > div > input[type=checkbox] {
    display: none;
}

.app_lesson_day #lesson_day_collection_lessons > div.lesson > div.members > div > input[type=checkbox] ~ label {
    display: block;
    overflow: hidden;
    padding: 0.5em;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: rgb(220, 220, 220);
}

.app_lesson_day #lesson_day_collection_lessons > div.lesson > div.members > div > input[type=checkbox] ~ label:hover {
    background-color: rgb(200, 200, 200);
    cursor: pointer;
}

.app_lesson_day #lesson_day_collection_lessons > div.lesson > div.members > div > input[type=checkbox]:checked ~ label {
    background-color: rgb(50, 255, 50);
}

.app_lesson_day #lesson_day_collection_lessons > div.lesson > div.members > div > input[type=checkbox]:checked ~ label:hover {
    background-color: rgb(50, 235, 50);
}

.app_lesson_day #lesson_day_collection_lessons > div.lesson > div.themes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1em;
}

.app_lesson_day #lesson_day_collection_lessons > div.lesson > div.themes > div {
    width: 49%;
    margin-bottom: 0.5em;
}

.app_lesson_day #lesson_day_collection_lessons > div.lesson > div.themes > div > input[type=checkbox] {
    display: none;
}

.app_lesson_day #lesson_day_collection_lessons > div.lesson > div.themes > div > input[type=checkbox] ~ label {
    display: block;
    overflow: hidden;
    padding: 0.5em;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: rgb(220, 220, 220);
}

.app_lesson_day #lesson_day_collection_lessons > div.lesson > div.themes > div > input[type=checkbox] ~ label:hover {
    background-color: rgb(200, 200, 200);
    cursor: pointer;
}

.app_lesson_day #lesson_day_collection_lessons > div.lesson > div.themes > div > input[type=checkbox]:checked ~ label {
    background-color: rgb(255, 190, 0);
}

.app_lesson_day #lesson_day_collection_lessons > div.lesson > div.themes > div > input[type=checkbox]:checked ~ label:hover {
    background-color: rgb(235, 170, 0);
}

.app_lesson_day #lesson_day_collection_lessons > div.lesson > div.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5em;
    padding: 0.5em;
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: darkviolet;
}

.app_lesson_day #lesson_day_collection_lessons > div.lesson > div.title > div.time {
    font-size: 0.9em;
}

/* Add a lesson */

.app_lesson_add #lesson_comment {
    width: 20em;
    height: 5em;
}

.app_lesson_add #lesson_duration {
    width: 6em;
    text-align: right;
}

.app_lesson_add #lesson_level {
    width: 20em;
}

.app_lesson_add #lesson_start > select:first-of-type {
    margin-right: 0.3em;
}

.app_lesson_add #lesson_start > select:nth-of-type(n+2) {
    margin-left: 0.3em;
}

/* Edit a lesson */

.app_lesson_edit #lesson_comment {
    width: 20em;
    height: 5em;
}

.app_lesson_edit #lesson_duration {
    width: 6em;
    text-align: right;
}

.app_lesson_edit #lesson_level {
    width: 20em;
}

.app_lesson_edit #lesson_start > select:first-of-type {
    margin-right: 0.3em;
}

.app_lesson_edit #lesson_start > select:nth-of-type(n+2) {
    margin-left: 0.3em;
}
