.gender.female {
    color: deeppink;
}

.gender.male {
    color: deepskyblue;
}

.gender > span {
    display: inline-block;
    margin-right: 0.2em;
    font-size: 1.5em;
    vertical-align: middle;
}

/* List of members */

.app_member_index table > tbody > tr > td.photo {
    width: 5em;
    padding: 0.4em 1em 0.4em 0;
    text-align: center;
}

.app_member_index table > tbody > tr > td.photo > img {
    display: block;
    width: 100%;
}

.app_member_index table > tbody > tr > td.rank {
    padding-bottom: 0;
    padding-top: 0;
}

.app_member_index table > tbody > tr > td.rank > img {
    border: 1px rgb(240, 240, 240) solid;
}

/* Add member */

.app_member_add #member_address,
.app_member_add #member_birthplace,
.app_member_add #member_city,
.app_member_add #member_comment,
.app_member_add #member_email0,
.app_member_add #member_email1,
.app_member_add #member_firstname,
.app_member_add #member_gender,
.app_member_add #member_lastname,
.app_member_add #member_nationality,
.app_member_add #member_phone0,
.app_member_add #member_phone1,
.app_member_add #member_phone2,
.app_member_add #member_phone3,
.app_member_add #member_profession,
.app_member_add #member_zip {
    flex: 1;
}

/* Show member */

.app_member_show > .sheet {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 1.5em;
    border: 1px rgb(220, 220, 220) solid;
    border-radius: 0.5em;
}

.app_member_show > .sheet > .information {
    flex: 1;
    padding: 1em;
}

.app_member_show > .sheet > .information > div {
    margin-bottom: 0.5em;
}

.app_member_show > .sheet > .information > div > small {
    margin-left: 2em;
    color: gray;
}

.app_member_show > .sheet > .information > div.action {
    margin-top: 2em;
}

.app_member_show > .sheet > .photo {
    padding: 1em;
    text-align: center;
    background-color: rgb(250, 250, 250);
    border-bottom-left-radius: 0.5em;
    border-top-left-radius: 0.5em;
}

.app_member_show > .sheet > .photo > img {
    display: block;
    max-width: 12em;
    border-radius: 0.1em;
}

.app_member_show .promotions .description {
    padding-bottom: 0;
    padding-top: 0;
}

.app_member_show .promotions .description > img {
    border: 1px rgb(240, 240, 240) solid;
}

.app_member_show .attendance {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.5em;
    font-size: 0.9em;
}

.app_member_show .attendance > div {
    width: 8.8%;
    text-align: center;
}

.app_member_show .attendance > div > div {
    margin-bottom: 0.1em;
    padding: 0.5em;
}

.app_member_show .attendance > div > div.day {
    color: rgb(180, 180, 180);
}

.app_member_show .attendance > div > div.day.state1 {
    color: inherit;
    background-color: rgb(255, 230, 0);
}

.app_member_show .attendance > div > div.day.state2 {
    color: white;
    background-color: rgb(18, 174, 55);
}

.app_member_show .attendance > div > div.month {
    margin-bottom: 0.3em;
    text-transform: uppercase;
    background-color: white;
    border-bottom: 2px silver solid;
}

.app_member_show .memberships > tbody > tr > td:nth-of-type(4),
.app_member_show .memberships > tbody > tr > td:nth-of-type(5) {
    width: 1%;
}

.app_member_show .memberships > thead > tr > th:nth-of-type(4),
.app_member_show .memberships > thead > tr > th:nth-of-type(5) {
    width: 1%;
    white-space: nowrap;
}

/* Edit member */

.app_member_edit .container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.app_member_edit .container > .edit1 {
    flex: 1;
}

.app_member_edit .container > .edit1 #member_address,
.app_member_edit .container > .edit1 #member_birthplace,
.app_member_edit .container > .edit1 #member_city,
.app_member_edit .container > .edit1 #member_comment,
.app_member_edit .container > .edit1 #member_email0,
.app_member_edit .container > .edit1 #member_email1,
.app_member_edit .container > .edit1 #member_firstname,
.app_member_edit .container > .edit1 #member_gender,
.app_member_edit .container > .edit1 #member_lastname,
.app_member_edit .container > .edit1 #member_nationality,
.app_member_edit .container > .edit1 #member_phone0,
.app_member_edit .container > .edit1 #member_phone1,
.app_member_edit .container > .edit1 #member_phone2,
.app_member_edit .container > .edit1 #member_phone3,
.app_member_edit .container > .edit1 #member_photo,
.app_member_edit .container > .edit1 #member_profession,
.app_member_edit .container > .edit1 #member_zip {
    flex: 1;
}

.app_member_edit .container > .photo {
    margin-left: 5em;
    margin-top: 2em;
    text-align: center;
}

.app_member_edit .container > .photo > img {
    max-width: 10em;
}