/* List of ranks */

.app_param_rank table > tbody > tr:hover {
    cursor: move;
}

.app_param_rank table > tbody > tr > td.image {
    width: 1%;
    padding: 0.4em 1em 0.4em 0;
    text-align: center;
}

.app_param_rank table > tbody > tr > td.image > img {
    display: block;
    height: 2em;
    margin: auto;
}

.app_param_rank .rank-image {
    border: 1px rgb(220, 220, 220) solid;
}

/* Edit rank */

.app_param_rank_edit .container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.app_param_rank_edit .container > .edit0 {
    flex: 1;
}

.app_param_rank_edit .container > .image {
    margin-left: 5em;
    margin-top: 2em;
    text-align: center;
}

.app_param_rank_edit .container > .image > img {
    max-width: 10em;
}

/* Password */

.app_param_password #param_password_current,
.app_param_password #param_password_first,
.app_param_password #param_password_second {
    flex: 1;
}

/* Levels */

.app_param_level_add #level_name {
    flex: 1;
}

.app_param_level_edit #level_name {
    flex: 1;
}

/* List of seasons */

.app_param_season .current-season > input[type=radio] {
    display: none;
}

.app_param_season .current-season > label {
    width: 3em;
    padding: 0.3em 0.5em;
    color: white;
    font-size: 0.9em;
    text-align: center;
    border-radius: 0.2em;
    cursor: pointer;
}

.app_param_season .current-season > label.no {
    display: inline-block;
    background-color: silver;
}

.app_param_season .current-season > label.yes {
    display: none;
    background-color: green;
}

.app_param_season .current-season > input[type=radio]:checked ~ label.no {
    display: none;
}

.app_param_season .current-season > input[type=radio]:checked ~ label.yes {
    display: inline-block;
}