.app_stat_rank_progress .rank-image {
    border: 1px rgb(220, 220, 220) solid;
}

.app_stat_rank_progress .progress-lesson > meter {
    width: 100%;
    height: 1.5em;
    margin-bottom: 0.3em;
}

/* Account summary */

.app_stat_account_summary .expenses > thead > tr > th:nth-of-type(2),
.app_stat_account_summary .receipts > thead > tr > th:nth-of-type(2) {
    width: 20%;
}

/* Amount by month */

.app_stat_amount_by_month #graph-evolution {
    margin-top: 2em;
}

/* Members evolution */

.app_stat_member_evolution #graph-evolution {
    margin-top: 2em;
}

/* Members segment */

.app_stat_member_segment #graph-pyramid {
    margin-top: 2em;
}

/* Members origin */

.app_stat_member_origin #graph-pie {
    margin-top: 2em;
}

/* Forecast budget */

.app_stat_forecast_budget #graph-expenses,
.app_stat_forecast_budget #graph-receipts {
    margin-top: 2em;
}

/* Attendance by week */

#page-stat-attendance-week #graph {
    margin-top: 2em;
}

/* Attendance by lesson */

#page-stat-attendance-lesson #graph {
    margin-top: 2em;
}

/* Themes */

#page-stat-themes #graph {
    margin-top: 2em;
}
