{% extends 'base.html.twig' %}

{% block body %}

    {% if error %}
        <div class="flash error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form method="post" action="{{ path('app_security_login_check') }}">
        <div class="form-login">
            <div>
                <label for="username">Username</label>
                <input type="text"
                       name="_username"
                       value="{{ lastUserName }}"
                       id="username"
                       required="required"
                       autofocus="autofocus"/>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password"
                       name="_password"
                       id="password"
                       required="required"/>
            </div>
            <div class="action">
                <button type="submit" class="button primary">
                    <span class="fi-lock"></span>
                    Login
                </button>
            </div>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
    </form>

{% endblock %}
